<a href="https://colab.research.google.com/github/afonsofarias/INCODE/blob/main/INCODE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INCODE - AULA - 2**

###**Soma de 2 numeros**

In [ ]:
n1 = float(input("Digite o primeiro numero: "))
n2 = float(input("Digite o segundo numero: "))
resultado = n1+n2
print(f"a soma é: {resultado}")

Digite o primeiro numero: 3
Digite o segundo numero: 4
a soma é: 7.0

###**Media de escolar**

In [ ]:
n1 = float(input("Digite a primeira nota: "))
n2 = float(input("Digite o segunda nota: "))
m = (n1+n2)/2
print(f"a media é é: {m:.1f}")

###**Verifica maior, menor ou igualdade**

In [ ]:
n1 = float(input("insira o primeiro numero: "))
n2 = float(input("insira o primeiro numero: "))
if(n1>n2):
  print("n1 é maior que n2")
elif(n1==n2):
  print("n1 e n2 sao iguais")
else:
  print("n2 é maior que n1")

insira o primeiro numero: 4
insira o primeiro numero: 6
n2 é maior que n14

###**Diferente de zero**

In [ ]:
n1 = float(input("insira um numero: "))
if(n1>0):
  print("n1 é positivo")
elif(n1==0):
  print("n1 é zero")
else:
  print("n1 é negativo")

insira um numero: 0
n1 é zero

#**INCODE - AULA - 3**

###3 entradas mostra o maior numero

In [ ]:
n1 = float(input())
n2 = float(input())
n3 = float(input())

if(n1>n2 and n1>n3):
  print(n1)
elif(n2>n1 and n2>n3):
  print(n2)
elif(n3>n1 and n3>n2):
  print(n3)

1
2
3
3.0

###lista for

In [1]:
for i in range (1,5):
    print('i')

i
i
i
i

###for com intervalos

In [2]:

for i in range (7, 3, -1):
    print(i)

7
6
5
4

###for numeros pares

In [ ]:

for i in range (2, 50, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

###compara o maior numero

In [3]:
n1 = float(input())
n2 = float(input())
n3 = float(input())

if(n1>n2 and n1>n3):
    if(n2>n3):
        print(f'{n1}, {n2} , {n3}')
    else:
        print(f'{n1}, {n3} , {n2}')


elif(n2>n1 and n2>n3):
    if(n1>n3):
        print(f'{n2}, {n1}, {n3}')
    else:
        print(f'{n2}, {n3}, {n1}')


elif(n3>n1 and n3>n2):
    if(n2>n1 ):
        print(f'{n3}, {n2}, {n1}')
    else:
        print(f'{n3}, {n1}, {n2}')

1
3
5
5.0, 3.0, 1.0

###tabuada

In [4]:
n = int(input())
while(n!=0):
    for i in range(1, 11):
        ##for n in range (1,10):
            print(f'{n} x {i} = {n*i}')
        ##print('')
    n = int(input())

1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

KeyboardInterrupt: Interrupted by user

###9 numeros verfica o maior

In [5]:
m=0
for i in range(9):
    n=int(input(f'digite o {i+1}º numero: '))
    if(n>m):
        m=n
print(f'o maior numero digitado foi: {m}')

digite o 1º numero: 2
digite o 2º numero: 8
digite o 3º numero: 12
digite o 4º numero: 9
digite o 5º numero: 8
digite o 6º numero: 44
digite o 7º numero: 63
digite o 8º numero: 82
digite o 9º numero: 35
o maior numero digitado foi: 82

###verifica numeros pares de 6 a 20

In [6]:
for i in range(6,21,2):
    print(i)

6
8
10
12
14
16
18
20

#EXERCICOS

##AULA 3

###PALPITE NUMERO SECRETO (COM DICA APOS 3 CHUTES)

In [ ]:
import random
import os
segredo = random.randint(0, 100)
tentativas = 10
erros = 0
v = int(input(f'Voce tem {tentativas} tentativas restantes.\ndigite um numero de 0 a 100: '))

while (tentativas != 0):
    if(v>segredo and erros<3):
        os.system('clear')
        print('Você errou!')
        tentativas=tentativas-1
        erros=erros+1
        t=v
        v = int(input(f'Voce tem {tentativas} tentativas restantes.\ndigite um numero de 0 a 100: '))

    elif(v<segredo and erros<3):
        os.system('clear')
        print('Você errou!')
        tentativas=tentativas-1
        erros=erros+1
        t=v
        v = int(input(f'Voce tem {tentativas} tentativas restantes.\ndigite um numero de 0 a 100: '))

    elif(v>segredo and erros>2):
        os.system('clear')
        print(f'Você errou!\nO numero secreto e maior que {v}')
        tentativas=tentativas-1
        erros=erros+1
        t=v
        v = int(input(f'Voce tem {tentativas} tentativas restantes.\ndigite um numero: '))

    elif(v<segredo and erros>2):
        os.system('clear')
        print(f'Você errou!\nO numero secreto e menor que {v}')
        tentativas=tentativas-1
        erros=erros+1
        t=v
        v = int(input(f'Voce tem {tentativas} tentativas restantes.\ndigite um numero: '))

    elif(erros == 9):
        os.system('clear')
        print(f'Fim de jogo\nVocê perdeu!\nO numero secreto era: {segredo}')
        tentativas=0

###JOGO PIN (INFORMANDO O NUMERO

# **BEECROWD - LISTA 2 - INCODE**

###**BEECROWD - 	1037	Intervalo**

In [ ]:
v = float(input())

if (v >= 0 and v < 25.01):
  print("Intervalo [0,25]")

elif(v >= 25.01 and v < 50.01):
  print("Intervalo (25,50]")

elif(v >= 50.01 and v < 75.01):
  print("Intervalo (50,75]")

elif(v >= 75.01 and v <= 100.00):
  print("Intervalo (75,100]")

else:
  print("Fora de intervalo")

36.5
Intervalo (25,50]

###**BEECROWD - 1038 Lanche**

In [ ]:
C, Q = map(int,input().split())

if(C == 1):
    V = Q * (4.00)
    print(f"Total: R$ {V:.2f}")
elif(C == 2):
    V = Q * (4.50)
    print(f"Total: R$ {V:.2f}")
elif(C == 3):
    V = Q * (5.00)
    print(f"Total: R$ {V:.2f}")
elif(C == 4):
    V = Q * (2.00)
    print(f"Total: R$ {V:.2f}")
elif(C == 5):
    V = Q * (1.50)
    print(f"Total: R$ {V:.2f}")

1 3
Total: R$ 12.00

###**BEECROWD - 1044 Múltiplos**

In [ ]:
A, B = map(int,input().split())
print(type(A))
print(type(B))
print(type(A%B==0))
print(type(B%A==0))
if (A%B==0 or B%A==0):
    print("Sao Multiplos")
else:
    print("Nao sao Multiplos")

###**BEECROWD - 1046 Tempo de Jogo**

In [ ]:
I, F = map(int,input().split())
DIA=int(24)

if(I>F):
    DUR=((DIA-I)+F)
    print(f"O JOGO DUROU {DUR} HORA(S)")
elif(I==F):
    DUR=24
    print(f"O JOGO DUROU {DUR} HORA(S)")
else:
    DUR=F-I
    print(f"O JOGO DUROU {DUR} HORA(S)")

1 2

###**BEECROWD - 1050 DDD**

In [ ]:
ddd = int(input())

if(ddd==61):
    print("Brasilia")
elif(ddd==71):
    print("Salvador")
elif(ddd==11):
    print("Sao Paulo")
elif(ddd==21):
    print("Rio de Janeiro")
elif(ddd==32):
    print("Juiz de Fora")
elif(ddd==19):
    print("Campinas")
elif(ddd==27):
    print("Vitoria")
elif(ddd==31):
    print("Belo Horizonte")
else:
    print("DDD nao cadastrado")

##**BEECROWD - 1051 Imposto de Renda**

In [ ]:
salario = float(input())

if(salario<=2000):
    print("Isento")
elif(salario>2000 and salario<=3000):
    imposto=(salario-2000)*0.08
    print(f"R$ {imposto:.2f}")
elif(salario>3000 and salario<=4500):
    imposto=((salario-3000)*0.18)+80
    print(f"R$ {imposto:.2f}")
else:
    imposto=((salario-4500)*0.28)+350
    print(f"R$ {imposto:.2f}")

15900
R$ 3542.00

##**BEECROWD - 1010 CÁLCULO SIMPLES**

In [ ]:
COD1, QTD1, VAL1 = map(float, input().split())
COD2, QTD2, VAL2 = map(float, input().split())

TOTAL = (QTD1 * VAL1) + (QTD2 * VAL2)

print(f"VALOR A PAGAR: R$ {TOTAL:.2f}")

12 1 5.30
16 2 5.10
VALOR A PAGAR: R$ 15.50

#**BEECROWD - LISTA 3** - INCODE

###BEECROWD - 1035 TESTE DE SELEÇÃO 1

In [ ]:
A, B, C, D = map(int,input().split())

if(B>C and D>A and (C+D)>(A+B) and C>0 and D>0 and A%2==0):
    print("Valores aceitos")
else:
    print("Valores nao aceitos")

###**BEECROWD - 1038 Lanche**

In [ ]:
C, Q = map(int,input().split())

if(C == 1):
    V = Q * (4.00)
    print(f"Total: R$ {V:.2f}")
elif(C == 2):
    V = Q * (4.50)
    print(f"Total: R$ {V:.2f}")
elif(C == 3):
    V = Q * (5.00)
    print(f"Total: R$ {V:.2f}")
elif(C == 4):
    V = Q * (2.00)
    print(f"Total: R$ {V:.2f}")
elif(C == 5):
    V = Q * (1.50)
    print(f"Total: R$ {V:.2f}")

1 3
Total: R$ 12.00

###BEECROWD - 1049 ANIMAL

In [8]:
A = input()
B = input()
C = input()
if(A == "vertebrado"):
  if(B == "ave"):
    if(C == "carnivoro"):
      print("aguia")
    elif(C == "onivoro"):
      print("pomba")
  elif(B == "mamifero"):
    if(C == "onivoro"):
      print("homem")
    elif(C == "herbivoro"):
      print("vaca")
elif (A == "invertebrado"):
  if (B == "inseto"):
    if (C == "hematofago"):
      print("pulga")
    elif(C == "herbivoro"):
      print("lagarta")
  elif(B == "anelideo"):
    if(C == "hematofago"):
      print("sanguessuga")
    elif(C == "onivoro"):
      print("minhoca")

vertebrado
mamifero
onivoro
pomba

###**BEECROWD - 1050 DDD**

In [ ]:
ddd = int(input())

if(ddd==61):
    print("Brasilia")
elif(ddd==71):
    print("Salvador")
elif(ddd==11):
    print("Sao Paulo")
elif(ddd==21):
    print("Rio de Janeiro")
elif(ddd==32):
    print("Juiz de Fora")
elif(ddd==19):
    print("Campinas")
elif(ddd==27):
    print("Vitoria")
elif(ddd==31):
    print("Belo Horizonte")
else:
    print("DDD nao cadastrado")

###BEECROWD - 1052 MÊS

In [ ]:
V = int(input())
if(V==1):
    print("January")
elif(V==2):
    print("February")
elif(V==3):
    print("March")
elif(V==4):
    print("April")
elif(V==5):
    print("May")
elif(V==6):
    print("June")
elif(V==7):
    print("July")
elif(V==8):
    print("August")
elif(V==9):
    print("September")
elif(V==10):
    print("October")
elif(V==11):
    print("November")
elif(V==12):
    print("December")

#**BEECROWD - LISTA 4 - LAÇOS - INCODE**

###BEECODE - 1059 NÚMEROS PARES

#**BEECROWD INICIANTE**

##**BEECROWD - 1011 ESFERA**

In [ ]:
R = float(input())
V = ((4/3.0) * (3.14159 * (R**3)))
print(f'VOLUME = {V:.3F}')

16
VOLUME = 17157.270

##**BEECROWD - 1012 ÁREA**

In [ ]:
a, b, c = map(float, input().split())

print(f'TRIANGULO: {((a * c) / 2):.3f}')
print(f'CIRCULO: {(3.14159 * (c**2)):.3f}')
print(f'TRAPEZIO: {(((a + b) * c) / 2):.3f}')
print(f'QUADRADO: {(b**2):.3f}')
print(f'RETANGULO: {(a * b):.3f}')

15 15 15
triangulo: 112.500
circulo: 706.858
trapezio: 225.000
quadrado: 225.000
retangulo: 225.000

##**BEECROWD - 1013 O MAIOR**

In [ ]:
A,B,C=list(map(int,input().split()))
print("{} eh o maior".format(max(A,B,C)))

1 2 3
3 eh o maior